@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    
    --background: #ffffff;
    --foreground: #1E1E2C;

    --muted: 210 40% 96.1%;
    --muted-foreground: #71717A;

    --popover: #ffffff;
    --popover-foreground: #1E1E2C;

    --border: #D9D9D9;
    --input: #D9D9D9;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: #FF9146;
    --primary-foreground: white;

    --secondary: #34B1AA;
    --secondary-reground: white;


    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: #EF0202;
    --destructive-foreground: white;


    --ring: #FF9146;

    --radius: 0.5rem;

    --font-roboto: 'roboto';
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
